# Clés privées et URLs RPC
PRIVATE_KEY=
RPC_URL_SEPOLIA=https://sepolia.infura.io/v3/
RPC_URL_BSC_TESTNET=https://bsc-testnet-rpc.publicnode.com

# Clés API Explorers
ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=

# Adresses des contrats sur Sepolia
GOLD_TOKEN_SEPOLIA=
GOLD_BRIDGE_SEPOLIA=
LINK_SEPOLIA=
SEPOLIA_ROUTER=
PROXY_SEPOLIA=

# Lottery
LOTTERY_CONTRACT=

# Adresses des contrats sur BSC Testnet
GOLD_TOKEN_BSC=
GOLD_BRIDGE_BSC=
BSC_LINK=
BSC_ROUTER=

# Chain IDs CCIP
DESTINATION_CHAIN_ID=13264668187771770619
SEPOLIA_CHAIN_ID=16015286601757825753

# Montants de LINK à déposer (en wei)
DEPOSIT_LINK_AMOUNT_SEPOLIA=1000000000000000000
DEPOSIT_LINK_AMOUNT_BSC=1000000000000000000

MY_ADDRESS=